:root {
    font-family: "montserrat";
    background-color: white;
    padding: 0px;
    
}
/* Container Styling */
.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 40px;
    background-color: white;
}
/* Menu Styling */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: white;
    padding-left: 0px;
}

.logo {
    font-size: 20px;
    margin: auto 10px;
}

.menu-item-container {
    width: 70%;
}

.menu-item {
    padding: 5px 10px;
}

.menu-item a:hover, .menu-item a:hover::after{
    background-color: lightgray;
}

nav {
    background-color: white;
}

.nav-container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*---------------------------------------------*/

/* My background image*/
.background-image {
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    height: 350px;
    position: relative;
    display: flex;
}

.home-intro {
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: transparent;
    color: white;
}

.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    /* overflow: auto; */
    background-color: black;
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
}

.modal-image {
    margin: auto;
    max-width: 70%;
}

.content {
    max-width: 30%;
    background-color: #fefefe;
    margin: auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    display: flex;
    flex-direction: row-reverse;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
  }

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

.home-image {
    height: 480px;
    padding-left: 5px;
}

.grid {
    display: grid;
    max-width: 800px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
}

.grid-item{
    display: flex;
    max-width: 80%;
    justify-content: space-around;
}

body{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    color: black;
}

strong {
    font-family: "montserrat-bold";
}

.center{
    background-color: transparent; 
    width:100%;
    max-width: 800px;
    max-height: 800px; 
    margin:0 auto;
    display:flex;
    padding: 0px 40px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 0px;
}

.picture {
    max-width: 100%;
    margin: 0 0;
    padding: 0;
}

.popupbtn {
    padding: 0px;
    border: none;
    background: none;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        flex-direction: column;
        padding: 0px;
    }
}

@font-face {
    font-family: "montserrat";
    src: url(fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "montserrat-bold";
    src: url(fonts/Montserrat/Montserrat-Bold.ttf);
}