.fa-twitter {
    color: #55ACEE;
}

.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-linkedin {
    color: #007bb5;
}

.fa-facebook {
    color: #3B5998;
}

.fa-envelope {
    color: #0321c4;
}

.fab:hover {
    opacity: 1;
}

#icon {
    position: relative;
    width: 13%;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.social-cards-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 900px;
    justify-content: space-between;
    padding: 2rem;
}

.social-card {
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    border-left: 10px #0321c4 solid;
    position: relative;
    align-items: center;
    box-shadow: 5px 5px 5px 5px gray;
    width: 95%;
    height: 15%;
    align-self: center;
    transition: all 0.3s ease-in-out;
}

.social-card h3 {
    margin: 0;
}

.social-card:hover {
    height: 16%;
    width: 97%;
}

.social-card:hover #icon{
    font-size: 3.5rem;
}

@media only screen and (max-width: 768px){
    #icon {
        padding: 20px;
    }

    .social-card p {
        margin: 0;
        font-size: 0.85rem;
        padding-right: 3px;
    }

    .social-cards-container {
        padding-left: 10px;
        padding-right: 10px;
    }
}
