/* 

CHANGES:
* I created a light and dark theme with my website, along with some layout
and animation changes:
    - The background image for the landing page, about page, and menu bar 
    is different when the theme is changed.
    - The layout of the landing page welcome message is different.
    - The animation for when a link is hovered over is different.
    - The font changes for the whole site.
    - The background color and font color change to reflect a dark mode
    feel.
    - The theme toggle changes icons depending on which theme is selected.
    - The grid on the home page and on the my projects page turns into 
    just a flex box showing 3 recent blog posts instead of 6 inside a grid.
    - By using Local Storage, when the page is reloaded or when you navigate
    to a different page on the website, the theme is preserved.

*/

:root {
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: 'azeret';
    transition: all 0.3s ease-in-out;
}

strong {
    font-family: "azeret-bold";
}

.container {
    background-color: rgb(34, 34, 34);
    transition: all 0.3s ease-in-out;
}

/*Menu Styling*/
.fa-moon:hover {
    background-color: white;
    color: rgb(42,41,149);
}

.theme-toggle {
    position: relative;
    width: 30%;
    font-size: 1.5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-moon {
    border: 1px solid white;
    padding: 25%;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.menu-modal-container {
    background-color:rgb(34, 34, 34);
}

.mobile-menu a{
    color: white;
}

.menu-icon.active span:nth-child(1),
.menu-icon.active span:nth-child(2),
.menu-icon.active span:nth-child(3) {
    background-color: white;
}

/* Form Styling */
.form-modal {
    background-image: url("../images/dark-mode-background.svg");
}

.close-icon {
    color: white;
}

.form-group1 {
    background-color: #2b2482;
}

.form-group2 {
    background-color: black;
}

input {
    caret-color: white;
    background-color: black;
    color: white;
    font-family: 'montserrat';
    border-bottom: 1px solid white;
    padding: 0;
    border-top: none;
    border-right: none;
    border-left: none;
}

#submit {
    background-color: #2b2482;
    border: 1px solid #2b2482;
}

.thanks-message {
    color: white;
    background-color: black;
}

.back {
    background-color: #2b2482;
    border-color: #2b2482;
}


/* ------------------------- */

/* Contact Page */
.social-card {
    border-left: 10px rgb(42,41,149) solid;
    color: white;
    box-shadow: 2px 2px 2px 2px gray;
}
/* -------------- */

/* Home Page */
#index.home {
    background-image: url("../images/dark-mode-background.svg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    transition: all 0.3s ease-in-out;
}

#project.home {
    background-image: url("../images/dark-mode-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease-in-out;
}

.simple-links {
    color: white;
    transition: all 0.3s ease-in-out;
}

.links {
    color: white;
    transition: all 0.3s ease-in-out;
}

.links:after {
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.grid-item {
    border: 1px solid white;
}

.landing-container {
    justify-content: center;
}
/* Home Grid Styling */
.home-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid-item-4, #grid-item-5, #grid-item-6 {
    display: none;
}
/* ----------------------------- */

/* Projects Page */
.container_line {
    border-right: 2px solid rgb(90,41,149);
}

.container_circle {
    background-color: rgb(90, 36, 114);
}



/* -------------------------------- */
@media only screen and (max-width: 768px) {
    .form-modal {
        background-image: none;
        background-color: black;
    }

    .form-container {
        width: 100%;
    }
}

@font-face {
    font-family: "azeret";
    src: url(../fonts/Azeret/AzeretMono-Regular.ttf);
}

@font-face {
    font-family: "azeret-bold";
    src: url(../fonts/Azeret/AzeretMono-Bold.ttf);
}

@font-face {
    font-family: "montserrat-italic";
    src: url(../fonts/Azeret/AzeretMono-Italic.ttf);
}