/* PROJECTS GRID STYLING */
#repo-link-container {
    padding-bottom: 5%;
}
/* ----------------------------------- */
/* TIMELINE STYLING */
.timeline-container {
    position: relative;
    z-index: 0;
}

.container__line {
    border-right: 2px solid rgb(90, 51, 253);
    left: 15px;
    position: absolute;
    height: 97%;
    bottom: 0;
}

.container__items {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.container__item {
    margin-bottom: 8px;
}

.container__top {
    align-items: center;
    display: flex;
}

.container__circle {
    background-color: rgb(90, 51, 253);
    border-radius: 9999px;
    height: 32px;
    width: 32px;
}

.container__title {
    flex: 1;
}

.timeline-title {
    font-size: 1.25rem;
    padding-left: 1%;
    margin: 0;
}

.timeline-date {
    font-style: italic;
    font-size: 0.85rem;
    color: gray;
    margin: 0;
    padding-left: 1%;
}

.container__desc {
    margin-left: 48px;
}