/* Root Styling */
:root {
    font-family: "montserrat";
    background-color: white;
    padding: 0px;
    line-height: 2;
}
/* ------------------------------ */
/* GENERAL STYLING */
body{
    margin: 0px;
    padding: 0px;
    overflow: auto;
    font-size: 1.0rem;
}

a{
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    color: black;
}

h1 {
    font-size: 1.9rem;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.5em;
}

nav {
    background-color: white;
}

strong {
    font-family: "montserrat-bold";
}

footer {
    background-color: rgb(78, 75, 75);
    display: flex;
    align-items: center;
    justify-content: center;
}

.links{
    display: inline-block;
    position: relative;
    color: black;
}

.links:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 200ms ease-out;
}

.links:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Container Styling */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 50px;
    background-color: white;
    overflow: auto;
}

/* --------------------------------------------------- */
/* HEADER STYLING */

#index.home {
    background-image: url("../images/background.svg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

#project.home {
    background-image: url("../images/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Menu */
.nav-container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    margin: auto 10px auto 0px;
    display: flex;
    flex-direction: row;
    width: 30%;
    align-items: center;
}

.logo img{
    border-radius: 50%;
    width: 90%;
    align-self: center;
}

.logo #title{
    text-decoration: none;
    color: white;
    padding-left: 5%;
    display: flex;
    font-size: 1.25rem;
}

.logo #logo{
    text-decoration: none;
    color: white;
    padding-left: 5%;
    display: flex;
    font-size: 1.25rem;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: transparent;
    padding-right: 40px;
}

.menu-item-container {
    width: 70%;
}

.menu-item {
    padding: 5px 10px;
}

.menu .links {
    color: white;
}

.menu .links:after {
    background-color: white;
}

/* Mobile Menu */
.mobile-menu-button {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 30px;
    z-index: 1;
}

.menu-icon {
    display: grid;
    place-items: center;
    height: 40px;
    width: 50px;
    cursor: pointer;
    position: relative;
}

.menu-icon > span {
    width: 35px;
    height: 3px;
    background-color: white;
    display: block;
    transition: all 0.3s ease-in-out;
}

.menu-icon.active span:nth-child(1){
    transform-origin: center center;
    transform: rotate(-45deg) translate(-12px, 7.25px);
    background-color: black;
}

.menu-icon.active span:nth-child(2) {
    background-color: black;
    opacity: 0;
}

.menu-icon.active span:nth-child(3) {
    transform-origin: center center;
    transform: rotate(45deg) translate(-12px, -7.25px);
    background-color: black;
}

.menu-modal-container {
    display: none;
    position: fixed;
    background-color: white;
    flex-direction: column;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    transition: all 0.3s ease-in-out;
    justify-content: center;
}

.mobile-links {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mobile-menu {
    list-style: none;
    justify-content: center;
    padding-left:  0;
}

.mobile-menu li {
    padding: 10px;
}

.mobile-menu a{
    text-decoration: none;
}

/* LANDING PAGE STYLING */
.landing-container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 50%;
    padding: 5%;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
}

.landing-intro{
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.landing-intro h1 {
    font-size: 4rem;
    font-family: 'montserrat-extra-bold';
    margin: 0;
}

.landing-intro p {
    font-size: 1.0rem;
}

.landing-button-container {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10% 0;
}

.landing-button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 3%;
    transition: all 0.3s;
    display: block;
}

.landing-button:hover {
    background-color: white;
    color: black;
}

.more-info-container {
    display: flex;
    flex-direction: row;
    bottom: 0;
    max-width: 1000px;
    color: white;
    margin: 0 auto;
    justify-content: space-between;
    padding: 5%;
}

.more-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1000px;
}

.more-info span {
    color: white;    
}

.more-info a{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.more-info a:hover .arrow{
    color: black;
}

.more-info a:hover .arrow-container {
    background-color: white;
}

.arrow {
    color: white;
    position: relative;
    transition: all 0.3s;
}

.arrow-container {
    margin: 0 2% 0 0;
    width: 30px;
    height: 30px;
    border: 1px white solid;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 50%;
    transition: all 0.3s;
}
/* ----------------------------------------- */
.iframe-container {
    text-align: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 56.25%
}

.iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/*---------------------------------------------*/
/* RECENT BLOG POSTS GRID */

.home-grid {
    display: grid;
    max-width: 1100px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    grid-gap: 50px;
}

.grid-item{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    justify-content: space-around;
    padding: 0px 15px;
    border: 1px solid black;
    box-shadow: 5px 5px gray;
    margin: 5px auto;
    border-radius: 10px;
}


/* ----------------------------------- */

/* FOOTER STYLING */
.myfooter {
    background-color: transparent;
    width: 50%;
    max-width: 800px;
    margin: 0 auto;
}

.footer-grid {
    background-color: rgb(78, 75, 75);
    display: grid;
    grid-template-columns: repeat(11,1fr);
    color: white;
    margin: 0 auto;
    height: 100%;
    margin-right: auto;
    padding: 5% 0;
}

.footer-menu {
    display: flex;
    list-style: none;
    background-color: transparent;
    max-width: 800px;
    grid-area: 1/2/3/5;
    flex-direction: column;
}

.footer-menu > h3 {
    margin: 0;
}

.footer-menu > p {
    margin-top: 1em;
}

.footer-social > div {
    width: 50%;
    height: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer-social {
    justify-content: space-between;
    display: flex;
    padding: 5% 0;
}

.sitemap {
    display: flex;
    flex-direction: column;
    grid-area: 1/10/2/11;
}

.contact {
    display: flex;
    flex-direction: column;
    grid-area: 1/6/2/8;
}

.general {
    display: flex;
    flex-direction: column;
    grid-area: 2/6/3/9;
}

.sitemap > h3,
.contact > h3,
.general > h3 {
    margin: 0;
    padding: 0;
}

.sitemap > ul,
.contact > ul,
.general > ul{ 
    list-style-type: none;
    padding: 0px;
}

.sitemap a,
.contact a,
.general a {
    color: white;
}

.sitemap .links:after,
.contact .links:after,
.general .links:after {
    background-color: white;
}

.fab:hover {
opacity: 0.7;
}

svg {
    position: absolute;
    top:0;
    left: 0;
    height: 25px;
    width: 45px;
    /* fill: white; */
}

.instagram:hover {
    fill: url(#rg);
}

.facebook:hover {
    fill: #3B5998;
}

.twitter:hover {
    fill: #55ACEE;
}

.linkedin:hover {
    fill: #007bb5;
}

.github:hover {
    fill-opacity: 0.5;
    fill: black;
}

/* --------------------------------- */

/* MEDIA AND FONT RULES */

/* Laptop Styling */
@media only screen and (max-width: 1024px) {
    .logo {
        padding-left: 30px;
    }
    .landing-button-container {
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        margin: 0;
    }

    .landing-button {
        margin: 5% 0;
    }
}

/* Tablet Styling */
@media only screen and (max-width: 768px) {
    /* GENERAL STYLING */
    body{
        font-size: 1.0rem;
    }

    h1, h2, h3 {
        font-size: 1.3rem;
    }

    .links, a{
        text-decoration: none;
    }

    .container {
        padding: 0 30px;
    }
    /* --------------------------------- */
    /* MOBILE MENU STYLING */
    .mobile-menu-button {
        display: flex;
    }

    .menu-item-container {
        display: none;
    }

    .activeModal {
        display: flex;
    }

    .noScroll {
        overflow: hidden;
    }

    .mobile-menu a{
        font-size: 2.0rem;
    }
    /* ---------------------------------- */
    /* LANDING PAGE STYLING */
    .landing-container {
        justify-content: center;
    }

    .more-info-container {
        justify-content: center;
    }
    .landing-button-container {
        justify-content: center;
    }

    .landing-intro {
        padding: 0 30px;
    }

    .landing-intro h1 {
        font-size: 3.0rem;
        align-self: center;
    }

    .landing-intro p {
        align-self: center;
    }

    .more-info {
        justify-content: center;
    }

    .more-info  span {
        font-size: 1.0rem;
        color: white;
    }

    .more-info a {
        justify-content: center;
    }

    .landing-container figure {
        display:none;
    }

    .arrow-container {
        width: 45px;
        height: 45px;
    }

    /* ---------------------------------- */

    /* RECENT BLOG POSTS STYLING */
    .home-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #grid-item-4, #grid-item-5, #grid-item-6 {
        display: none;
    }
    /* ---------------------------------- */
    /* FOOTER STYLING */
    .footer-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5%;
    }

    .footer-menu {
        margin: auto auto 15% auto;
    }

    .footer-menu > p {
        margin: 0 auto;
    }

    .footer-menu > h3 {
        margin-bottom: 1em;
    }

    svg {
        width: 50px;
        height: 33px;
    }
}

@media only screen and (max-width: 640px) {
    .logo img {
        display: none;
    }

    .logo #title {
        padding-left: 0;
    }

    .logo {
        display: block;
        width: 100%;
    }
}
/* Mobile Styling */
/* @media only screen and (max-width: 900px) {
    body{
        font-size: 1.6rem;
    }

    h1, h2, h3 {
        font-size: 1.3em;
    }

    header{
        padding: 15px;
    }

    section .container {
        padding: 15px;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .home-grid {
        display: flex;
        flex-direction: column;
    }
    .menu {
        display: none;
    }

    .mobile-menu-button {
        display: block;
    }

    .links{
        display: inline;
        text-decoration: underline;
    }

    .links:after {
        all: initial;
    }

    .links:hover:after {
        all: initial;
    }
} */

@font-face {
    font-family: "montserrat";
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "montserrat-bold";
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "montserrat-extra-bold";
    src: url(../fonts/Montserrat/Montserrat-ExtraBold.ttf);
}